# PARAMETERS
location_lat: 37.9094
location_lon: -122.6864
tide_station: "9414290" #SF GG, matching Surfline OR # "9414958"  # Bolinas Lagoon
coast_orientation: 165  # SSE facing
optimal_tide_range: (-1.0, 3.0)  # feet, MLLW
forecast_hours: 168  # 7 days