# PARAMETERS

# Data Fetching Parameters
location_lat: 37.9094
location_lon: -122.6864
ww3_lat: 37.5
ww3_lon: 237.0
tide_station: "9414290" #SF GG, matching Surfline OR # "9414958"  # Bolinas Lagoon
coast_orientation: 165  # SSE facing
forecast_hours: 168  # 7 days

# Surf Processing and Scoring Parameters
optimal_tide_range: (-1.0, 3.0)  # feet, MLLW
nearshore: 0.85